<form class="form-group">

    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to send a message?</h3>
    </div>

    <div class="modal-body">
        <form>
            <div class="col-md-6 form-group">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="info.name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="info.email" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <textarea type="text" class="form-control" placeholder="message" ng-model="info.text"
                          required></textarea>
            </div>
            <div class="row"></div>
        </form>
    </div>

    <div class="modal-footer form-group">
        <button class="btn btn-success pull-left" type="submit" ng-click = "submit()">
            yes
        </button>

        <button class="btn btn-danger pull-right" type="button" ng-click = "cancel()">
            no
        </button>
    </div>
</form>