<form class="form-group" ng-controller="NavigationController">

    <div class="modal-header">
        <h3 class="modal-title">{{'Message modal title' | translate }}</h3>
    </div>

    <div class="modal-body">
        <form name="messageForm" novalidate>
            <div class="col-md-6 form-group">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="{{'name' | translate }}"
                               ng-model="info.name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" placeholder="{{'email' | translate }}"
                               ng-model="info.email" ng-valid-email
                               required>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <textarea type="text" class="form-control" placeholder="{{'message' | translate }}" ng-model="info.text"
                          required></textarea>
            </div>
            <div class="row"></div>
        </form>
    </div>

    <div class="modal-footer form-group">
        <button class="btn btn-success pull-left" type="submit" ng-click="submit()">
            {{'yes' | translate }}
        </button>

        <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">
            {{'no' | translate }}
        </button>
    </div>
</form>