<!doctype html>
<html lang="en" ng-app="app">
<head>
    <title>Tekkombud</title>
    <link href='app/dependency/bower-components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="app/welcome/util/css/welcome.css">

    <script src="app/dependency/bower-components/angular/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>

    <script src="app/welcome/controller/welcome-controller.js"></script>
    <script src="app/welcome/controller/login-controller.js"></script>
    <script src="app/welcome/service/welcome-service.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="app/dependency/bower-components/ng-map.min.js"></script>

    <script src="app/dependency/bower-components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="app/dependency/bower-components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="app/dependency/bower-components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#/">Tekkombud</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="active">
                    <a class="page-scroll" href="#/home">Home</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#/project">Projects</a>
                </li>
                <li class="">
                    <a class="page-scroll" href="#/contact">Contact</a>
                </li>
                <li>
                    <form class="navbar-form navbar-right" ng-controller="LoginController">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="username" ng-model="login.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password" ng-model="login.password">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="login()">Sign in</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class=" container-fluid">
    <div ui-view></div>
</div>

    <div class="container-fluid">
        <div class="footer">
            <div class="col-md-4">
                <span class="copyright">Copyright © Zero4Startup 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='app/dependency/bower-components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src="app/welcome/util/js/welcome.js"></script>
</body>
</html>`
