<form class="form-group">

    <div class="modal-header">
        <h3 class="modal-title">Detailed message information</h3>
    </div>

    <div class="modal-body">
        <form>
            <div class="col-md-offset-1">
                <div class="row">
                    <label>First name: </label>{{info.name}}
                    <label class="email-modal">Email: </label>{{ info.email}}
                </div>
            </div>
            <div class="col-md-offset-1">
                <div class="row">
                    <label>Text: </label>{{info.text}}
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer form-group">
        <button class="btn btn-danger pull-right" type="button" ng-click="cancel()">
            cancel
        </button>
    </div>
</form>