<form class="form-group" novalidate name="updateModal">

    <div class="modal-header">
        <h3 class="modal-title">{{'Offer update' | translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="{{'job name' | translate }}"
                          name="name" ng-model="info.name" ng-pattern="NAME_REGEX" required>
                    <p class="help-block" ng-if="updateModal.name.$error.pattern">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'NAME_ERROR' | translate}}
                    </p>

                    <p class="help-block" ng-if="updateModal.name.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group"  show-errors>
                        <textarea type="text" class="form-control" placeholder="{{'job description' | translate }}"
                                  name ="text" ng-pattern="TEXT_REGEX" ng-model="info.description" required></textarea>
                    <p class="help-block" ng-if="updateModal.text.$error.pattern">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'TEXT_ERROR' | translate }}
                    </p>

                    <p class="help-block" ng-if="updateModal.text.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <select ng-model="orderModel" ng-change="changeStatus(orderModel)"
                            ng-options="option.name for option in orderOptions"></select>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group"  show-errors>
                    <input type="text" class="form-control" placeholder="{{'job salary' | translate }}"
                           name = "salary" ng-model="info.salary" ng-pattern="TEXT_REGEX" required>

                    <p class="help-block" ng-if="updateModal.salary.$error.pattern">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'TEXT_ERROR' | translate }}
                    </p>

                    <p class="help-block" ng-if="updateModal.salary.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"  show-errors>
                    <input type="text" class="form-control" placeholder="{{'job skills' | translate }}"
                           name = "skills" ng-model="info.skills" ng-pattern="TEXT_REGEX" required>
                    <p class="help-block" ng-if="updateModal.skills.$error.pattern">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'TEXT_ERROR' | translate }}
                    </p>

                    <p class="help-block" ng-if="updateModal.skills.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{'REQUIRED' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer form-group">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success submit-button" ng-click="submit(info)">
                    {{'submit' | translate }}
                </button>

                <button type="submit" class="btn btn-danger decline-button" ng-click="cancel()">
                    {{'cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
</form>