<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <title>Tekkombud</title>

    <script src="app/dependency/bower-components/angular/angular.js"></script>
    <script src="app/dependency/bower-components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="app/dependency/bower-components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script type="text/javascript" src="app/admin/admin-module.js"></script>

    <script src="app/admin/controller/admin-controller.js"></script>
    <script src="app/admin/controller/message-controller.js"></script>
    <script src="app/admin/controller/offer-controller.js"></script>
    <script src="app/admin/controller/modals/add-offer-modal-controller.js"></script>
    <script src="app/admin/controller/modals/message-modal-controller.js"></script>
    <script src="app/admin/controller/modals/info-message-controller.js"></script>
    <script src="app/admin/controller/modals/info-offer-controller.js"></script>
    <script src="app/admin/controller/modals/delete-offer-modal.js"></script>
    <script src="app/admin/controller/modals/update-offer-modal-controller.js"></script>
    <script src="app/admin/controller/internationalization-controller.js"></script>
    <script src="app/admin/controller/navigation-controller.js"></script>
    <script src="app/admin/service/setting-service.js"></script>

    <script src="app/dependency/bower-components/angular-route/angular-route.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script type="text/javascript"
            src="app/dependency/bower-components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>

    <script type="text/javascript"
            src="app/dependency/bower-components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angularUtils-pagination/dirPagination.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-translate/angular-translate.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-translate-storage-local/angular-translate-storage-local.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tekkombud</title>
    <link href="app/admin/util/css/sb-admin.css" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll">{{'Tekkombud' | translate }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="SettingController">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">
                        <a href="#/page-top"></a>
                    </li>

                    <li ng-class="{active: isActive('/message')}" ng-controller="NavigationController">
                        <a class="page-scroll" ui-sref="message">{{'Messages' | translate }}</a>
                    </li>

                    <li ng-class="{active: isActive('/offer')}" ng-controller="NavigationController">
                        <a class="page-scroll" ui-sref="offer">{{'Offer' | translate }}</a>
                    </li>

                    <li ng-controller="InternationalizationController" class="dropdown" dropdown
                        on-toggle="toggled(open)">
                        <a class="dropdown-toggle" dropdown-toggle> {{ 'lang' | translate }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="lang in languages"><a
                                    ng-click="changeLanguage(lang.key)">{{ lang.name }}</a></li>
                        </ul>
                    </li>

                    <li ng-controller="InternationalizationController" class="dropdown" dropdown
                        on-toggle="toggled(open)">
                        <a class="dropdown-toggle" dropdown-toggle> {{ 'Account' | translate }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="acount in acounts"><a
                                    ng-click="logout()">{{acount.name | translate}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div ui-view></div>
        </div>
    </div>
</div>

</body>
</html>