<!DOCTYPE html>
<html lang="en" ng-app="admin">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="app/welcome/js/jquery.js"></script>
    <link rel="stylesheet" href="app/welcome/css/welcome.css">
    <script src="app/dependency/bower-components/angular/angular.js"></script>

    <script type="text/javascript" src="app/admin/admin-module.js"></script>

    <script src="app/admin/controller/admin-controller.js"></script>
    <script src="app/admin/service/setting-service.js"></script>

    <script src="app/dependency/bower-components/angular-route/angular-route.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type="text/javascript"
            src="app/dependency/bower-components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript"
            src="app/dependency/bower-components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
</head>
<body>
ADMIN
<div class="container">
    <div class="row" ng-controller="SettingController">
        <p></p>
        <input value="login" ng-model="loginInf.name">{{ loginInf.name }}
        <input value="password" ng-model="loginInf.password">
        <button value="submit" class="btn btn-success" ng-click="saveUser(loginInf)"></button>
    </div>
    <div class="row" ng-controller="SettingController">
        <button ng-click="logout()"/>
    </div>
</div>
</body>
</html>