<html>
<head>
</head>

<body ng-controller="NavigationController">
<div class="row">
    <div class="contact">
        <h1>{{'Contact us' | translate }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="note">
            <p>{{'Contact note' | translate }}</p>
        </div>
    </div>
    <div class="col-md-2">{{'Our contacts' | translate }}</div>
    <div class="col-md-4">{{'You can find tekkombud permanent location below' | translate }}</div>
</div>

<div class="row">
    <form id="contact-form">

        <div class="col-md-6">
            <div class="col-md-6">
                <div class="form-group" show-errors>
                    <input type="text" class="form-control" placeholder="{{'name' | translate }}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{'email' | translate }}"
                           ng-model="message.email">
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="{{'message' | translate }}"
                                  ng-model="message.text"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-success submit-button" ng-click="saveMessage(message)">{{'submit' |
                    translate }}
                </button>
                <button type="submit" class="btn btn-warning decline-button" ng-click="clearMessage()">{{'clear' |
                    translate }}
                </button>
            </div>
        </div>

        <aside id="contact-info" class="col-md-2">
            <dl>
                <dt>{{'Email' | translate }}</dt>
                <dd><a href="mailto:oles1719@gmail.com" title="{{'Click to send us an email' | translate }}">oles1719@gmail.com</a>
                </dd>
                <dt>{{'Phone number' | translate }}</dt>
                <dd><a href="tel:0931964495" title="{{'Click to call us' | translate }}">0931964495</a></dd>
                <dt>{{'Skype' | translate }}</dt>
                <dd><a href="skype:onyshchakoles?call" title="{{'Click to call us on Skype' | translate }}">onyshchakoles</a>
                </dd>
                <dt>{{'Address' | translate }}</dt>
                <dd>
                    <address>
                        {{'Lazarenka street.Ukraine' | translate }}
                    </address>
                </dd>
            </dl>
        </aside>

        <div class="col-md-4">
            <ng-map zoom="11" center="[52.229902, 21.010827]">
                <marker position="[52.229902, 21.010827]"/>
                <shape name="circle" radius="400" center="[52.229902, 21.010827]" radius="4000"/>
                <control name="overviewMap" opened="true"/>
            </ng-map>
        </div>
    </form>
</div>


</body>

</html>