<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tekkombud</title>
</head>

<body>
<div class="row">
    <div class="image">
        <img ng-src="{{slides.imgName}}"/>
    </div>
</div>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators ">
        <li ng-class="{'active':selected == 'tab1'}" ng-click="select('tab1')"><a href="" class=""></a></li>
        <li ng-class="{'active':selected == 'tab2'}" ng-click="select('tab2')"><a href="" class=""></a></li>
        <li ng-class="{'active':selected == 'tab3'}" ng-click="select('tab3')"><a href="" class=""></a></li>
    </ol>
</div>


</body>
</html>