<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="row">
    <div class="image">
        <img id="img" src="app/welcome/util/photo/banner1.jpg"/>
    </div>
</div>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators ">
        <li class="active" onclick="display(0)"></li>
        <li onclick="display(1)"></li>
        <li onclick="display(2)"></li>
    </ol>
</div>

</body>
</html>