<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tekkombud</title>
</head>
<body ng-controller="NavigationController">

<h2 class="offer-pagination-header">{{'Our offers' | translate }}</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th ng-click="sort('id')">{{'Id' | translate }}<span class="glyphicon sort-icon" ng-show="sortKey=='id'"
                                                             ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('name')">{{'Name' | translate }}<span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                                                                 ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('description')">{{'Description' | translate }}<span class="glyphicon sort-icon"
                                                                               ng-show="sortKey=='description'"
                                                                               ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('skills')">{{'Skills' | translate }}<span class="glyphicon sort-icon"
                                                                     ng-show="sortKey=='skills'"
                                                                     ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th ng-click="sort('salary')">{{'Salary' | translate }}<span class="glyphicon sort-icon"
                                                                     ng-show="sortKey=='salary'"
                                                                     ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
        </th>
        <th>{{'Manipulation' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="info in offerInfo|orderBy:sortKey:reverse|itemsPerPage:5">
        <td>{{info.id}}</td>
        <td>{{info.name}}</td>
        <td>{{info.description}}</td>
        <td>{{info.skills}}</td>
        <td>{{info.salary}}</td>
        <td>
            <a ng-click="information(info)" title="Click to get detailed information"><i
                    class="glyphicon glyphicon-info-sign"></i></a>
            <a ng-click="attachCV(info.id)" title="Click to get detailed information"><i
                    class="glyphicon glyphicon-plus"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div class="pagination-controls">
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true">
    </dir-pagination-controls>
</div>
</body>
</html>