<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tekkombud</title>
</head>
<body>
<div>
    <div>
        <carousel interval="myInterval">
            <slide data-ng-repeat="slide in slides" active="slide.active">
                <div class="col-md-6">
                    <img data-ng-src="{{slide.Path}}">
                </div>
                <div class="col-md-6" style="margin-top: 2% ">
                    <p>{{slide.Summary | translate}}</p>
                </div>
            </slide>

        </carousel>
        <div class="col-md-offset-2 col-md-8" style="margin-top: 2%">
            <ul>
                <li class="select" data-ng-repeat="slide in slides">
                    <button class="btn btn-mini"
                            data-ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}"
                            data-ng-disabled="slide.active" data-ng-click="slide.active = true"> {{slide.Title}}
                    </button>
                </li>
                Interval, in milliseconds:
                <input type="number" data-ng-model="myInterval">
                Enter a negative number to stop the interval.
            </ul>
        </div>
    </div>
</div>
</body>
</html>