.banner{
    width:90%;
    height:90%;
}
.text-white {color: #fff;}

.wrapper {
    text-align: center;
}
.image{

}

.carousel-indicators li {
}

.carousel-indicators .active {
    background-color: yellow !important;
}
.login{

}