.banner{
    width:100%;
    min-height:189px;
}
.footer{
    padding: 14px;
    background: black;
    color:#fff;
}
.text-white {color: #fff;}

.center .navbar-inner {
    text-align:center;
}
.wrapper {
    text-align: center;
}

.carousel-indicators li {
}

.carousel-indicators .active {
    background-color: yellow !important;
}
