.banner{
    width:90%;
    height:90%;
}
.text-white {color: #fff;}

.wrapper {
    text-align: center;
}
.image{
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
}

.carousel-indicators .active {
    background-color: yellow !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    overflow:hidden;
    background-color: black;
}
.container-fluid{
    margin-top: 50px;
}

#gmaps {
    width: 450px;
    height: 450px;
}

.contact{
    margin-left: 20%;
}
.note{
    margin-left: 2.5%;
}
.offer-pagination-header{
    padding-left: 35%;
}
.pagination-controls {
    padding-left: 35%;
}

.submit {
    margin-right: 2%;
}

h3 {
    text-align: center;
}

.form-group .has-success .glyphicon-ok-sign {
    display: block;
    color: green;
}

.textalign {
    text-align: center;
}

.copyright {
    color: #0f0f0f
}

